{% load static %}
<section id="maincontent">
      <div class="container">

        <div class="row">
          {% for rs in dayproducts %}
          <div class="span3 features e_pulse">
            <img src="{{ rs.image.url }}" alt="" />
            <div class="box">
              <div class="divcenter">
                <a href="product/{{rs.id}}/{{rs.slug}}"><i class="icon-circled icon-48 icon-magic active icon"></i></a>
                <h4>{{ rs.title }}</h4>
              </div>
            </div>
          </div>
          {% endfor %}
      
        </div>

        <div class="row">
          <div class="span12">
            <h4 class="rheading">Recent Hotels<span></span></h4>
            <div class="row">

              <div class="span12">
                <div id="latest-work" class="carousel btleft">
                  <div class="carousel-wrapper">
                    <ul class="da-thumbs">

                      {% for rs in lastproducts %}
                      <li>
                        <img src="{{ rs.image.url }}" alt="" style="width:300px;height:200px;" />
                        <article class="da-animate da-slideFromRight">
                          <a class="zoom" data-pretty="prettyPhoto" href="{{ rs.image.url }}">
														<i class="icon-zoom-in icon-rounded icon-48 active"></i>
													</a>
                          {% comment %} TODO - Link duzeltilecek {% endcomment %}
                          <a href="/product/{{rs.id}}/{{rs.slug}}">
														<i class="icon-link icon-rounded icon-48 active"></i>
													</a>
                          <div class="hidden-tablet">
                            <p>{{ rs.title }}</p>
                          </div>
                        </article>
                      </li>
                      {% endfor %}

                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>