{% load static %}
<header>
    <!-- Navbar
  ================================================== -->
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- logo -->
                <div class="logo">
                    <a href="/"><img src="{% static 'assets/img/logo.png' %}" alt=""/></a>
                </div>
                <!-- end logo -->

                <!-- top menu -->
                <div class="navigation">
                    <nav>
                        <ul class="nav topnav">
                            <li class="active">
                                <a href="/"><i class="icon-home"></i> Anasayfa </a>
                            </li>

                            <li class="dropdown">
                                <a href="#"><i class="icon-cog"></i> Hotels <i class="icon-angle-down"></i></a>

                                {% load mptt_tags %}
                                <ul class="dropdown-menu">
                                    {% recursetree category %}

                                    <li class="dropdown"><a href="/category/{{ node.id }}/{{ node.slug }}">
                                        {{ node.title}}
                                        {% if not node.is_leaf_node %}<i class="icon-angle-right"></i>{% endif %}</a>
                                        <ul class="dropdown-menu sub-menu children">
                                            {% if not node.is_leaf_node %}
                                            <li><a href="/category/{{ node.slug }}">{{ children }}</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    {% endrecursetree %}
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="/hakkimizda"><i class="icon-leaf"></i> Hakkımızda <i class=""></i></a>
                            </li>
                            <li class="">
                                <a href="/referanslar"><i class="icon-leaf"></i> Referanslar <i class=""></i></a>

                            </li>
                            <li>
                                <a href="/iletisim"><i class="icon-envelope-alt"></i> İletişim </a>
                            </li>

                            {% if user.id is not None %}
                            <li>
                            <li class="dropdown">
                                <a href="#"><i class="icon-briefcase"></i>{{ user.first_name }}<i class="icon-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/user/">My Account</a></li>
                                    <li><a href="/login/">Comments</a></li>
                                    <li><a href="/join/">Rezervations</a></li>
                                    <li><a href="/logout/">Cikis</a></li>

                                </ul>
                            </li>
                            </li>
                            {% else %}

                            <li class="dropdown">
                                <a href="#"><i class="icon-user"></i> Sign in <i class="icon-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/login/">Login</a></li>
                                    <li><a href="/signup/">sign up</a></li>

                                </ul>
                            </li>
                            {% endif %}
                            <li>
                                <form action="/search/" method="post" class="input-append">
                                    {% csrf_token %}
                                    <input name="query" class="search-form" id="appendedPrependedInput" type="text"
                                           placeholder="Search here.." style="width:100px;"/>
                                    <button class="btn btn-dark" type="submit">Search</button>
                                </form>
                            </li>


                        </ul>
                    </nav>
                </div>
                <!-- end menu -->

            </div>
        </div>
    </div>
</header>