{% load static %}
    <header>
      <!-- Navbar
    ================================================== -->
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- logo -->
            <div class="logo">
              <a href="/"><img src="{% static 'assets/img/logo.png' %}" alt="" /></a>
            </div>
            <!-- end logo -->

            <!-- top menu -->
            <div class="navigation">
              <nav>
                <ul class="nav topnav">
                  <li class="active">
                    <a href="/"><i class="icon-home"></i> Anasayfa </a>
                  </li>
                  <li class="dropdown">
                    <a href="#"><i class="icon-cog"></i> Features <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% static 'media.html' %}">Media</a></li>
                      <li><a href="{% static 'color-scheme.html' %}">10 Theme colors</a></li>
                      <li><a href="{% static 'buttons.html' %}">Buttons</a></li>
                      <li><a href="{% static 'components.html' %}">Components</a></li>
                      <li><a href="{% static 'animations.html' %}">56 Animations</a></li>
                      <li><a href="{% static 'icons.html' %}">Icons</a></li>
                      <li><a href="{% static 'icon-variations.html' %}">Icon variations</a></li>
                      <li class="dropdown"><a href="#">3rd level <i class="icon-angle-right"></i></a>
                        <ul class="dropdown-menu sub-menu">
                          <li><a href="#">Example menu</a></li>
                          <li><a href="#">Example menu</a></li>
                          <li><a href="#">Example menu</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#"><i class="icon-briefcase"></i> Portfolio <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% static 'portfolio-2cols.html' %}">Portfolio 2 columns</a></li>
                      <li><a href="{% static 'portfolio-3cols.html' %}">Portfolio 3 columns</a></li>
                      <li><a href="{% static 'portfolio-4cols.html' %}">Portfolio 4 columns</a></li>
                      <li><a href="{% static 'portfolio-detail.html' %}">Portfolio detail</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#"><i class="icon-book"></i> Blog <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% static 'blog-left-sidebar.html' %}">Blog left sidebar</a></li>
                      <li><a href="{% static 'blog-right-sidebar.html' %}">Blog right sidebar</a></li>
                      <li><a href="{% static 'post-left-sidebar.html' %}">Post left sidebar</a></li>
                      <li><a href="{% static 'post-right-sidebar.html' %}">Post right sidebar</a></li>
                    </ul>
                  </li>
                    <li class="dropdown">
                    <a href="/hakkimizda"><i class="icon-leaf"></i> Hakkımızda <i class=""></i></a>
                  </li>
                    <li class="">
                    <a href="/referanslar"><i class="icon-leaf"></i> Referanslar <i class=""></i></a>

                  </li>
                  <li>
                    <a href="/iletisim"><i class="icon-envelope-alt"></i> İletişim </a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- end menu -->

          </div>
        </div>
      </div>
    </header>