<!DOCTYPE html>

<head>
{% load static %}
  <meta charset="utf-8">
  <title>Otel Rezervasyon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- styles -->
  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/bootstrap-responsive.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/prettyPhoto.css' %}" rel="stylesheet">
  <link href="{% static 'assets/js/google-code-prettify/prettify.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/flexslider.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/color/default.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,600,400italic|Open+Sans:400,600,700" rel="stylesheet">

  <!-- fav and touch icons -->
  <link rel="shortcut icon" href="{% static 'assets/ico/favicon.ico' %}">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets/ico/apple-touch-icon-144-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'assets/ico/apple-touch-icon-114-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets/ico/apple-touch-icon-72-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" href="{% static 'assets/ico/apple-touch-icon-57-precomposed.png' %}">

  <!-- =======================================================
    Theme Name: Lumia
    Theme URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->



    {% block head %}  {% endblock %}

</head>
<body>

{% include 'header.html' %}
{% block slider %} {% endblock %}
{% block content %} {% endblock %}
{% include 'footer.html' %}
{% block foot %} {% endblock %}


</body>
</html>