{% extends "homebase.html" %}

{% block title %} Login - {{ setting.company }}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}'/>
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Login</li>
                </ul>
            </div>

        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span12">

                <aside>

                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Login</h3>

                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="input" type="text" name="username" placeholder="User Name">
                            </div>
                            <div class="form-group">
                                <input class="input" type="password" name="password" placeholder="Password">
                            </div>
                            <input type="submit" value="Login">
                        </form>
                    </div>

                </aside>
            </div>


        </div>
    </div>
</section>
{% endblock %}