{% extends "homebase.html" %}
{% load static %}

{% block title %} {{ categorydata.title }}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <section id="subintro">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active">{{categorydata.title}}</li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
   <section id="maincontent">
      <div class="container">
        <div class="row">
          <div class="span12">
            <ul class="filter">
              <li class="all active"><a href="#" class="btn">{{categorydata.title}}</a></li>

            </ul>
          </div>
        </div>
        <div class="row">
          <ul class="portfolio-area da-thumbs">

        {% for rs in products%}

            <li class="portfolio-item" data-id="id-0" data-type="web">
              <div class="span4">
                <div class="thumbnail">
                  <div class="image-wrapp">
                    <img src="{{ rs.image.url }}" alt="Portfolio name" title="" />
                    <article class="da-animate da-slideFromRight">
                      <a class="zoom" data-pretty="prettyPhoto" href="{{ rs.image.url }}">
							<i class="icon-zoom-in icon-rounded icon-48 active"></i>
							</a>
                      <a href="/product/{{ rs.id }}/{{rs.slug}}">
							<i class="icon-link icon-rounded icon-48 active"></i>
							</a>
                      <div class="hidden-tablet">
                        <p>
                         {{ rs.title }}
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </li>

        {% endfor %}
          </ul>
        </div>
        <div class="row">
          <div class="span12">
            <div class="pagination">
              <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}