{% extends "homebase.html" %}
{% load static %}
{% block title %} Hakkımızda-{{ setting.company }}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
 <section id="subintro">
      <div class="container">
        <div class="row">
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="/category/{{product.category.id}}/{{product.category.slug}}">{{ product.category }}</a><i class="icon-angle-right"></i></li>
              <li class="active">{{ product.title }}</li>
            </ul>
          </div>
          <div class="span4">
            <div class="search">
              <form class="input-append">
                <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                <button class="btn btn-dark" type="submit">Search</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="maincontent">
      <div class="container">
        <div class="row">
          <div class="span12">
            <article>
              <div class="heading">
                <h4>{{ product.title }}</h4>
              </div>
              <div class="clearfix">
              </div>
              <div class="row">
                <div class="span8">
                  <!-- start flexslider -->
                  <div class="flexslider">
                    <ul class="slides">
                    {% for rs in images%}
                      <li>
                        <img src="{{ rs.image.url }}" alt="" />
                      </li>
                    {% endfor %}
                    </ul>
                  </div>
                  <!-- end flexslider -->
                  <p>
                   {{ product.detail | safe }}
                  </p>
                </div>
                <div class="span4">
                  <aside>
                    <div class="widget">
                      <div class="project-widget">
                        <h4 class="rheading">Portfolio detail<span></span></h4>
                        <ul class="project-detail">
                          <li><label>Project name :</label> Clean business theme</li>
                          <li><label>Category :</label> Web design</li>
                          <li><label>Project date :</label> 12 Apr 2013</li>
                          <li><label>Project link :</label><a href="#">www.somelink.com</a></li>
                        </ul>
                      </div>
                    </div>
                  </aside>
                </div>
              </div>
            </article>
            <!-- end article full post -->
            <br>
            <hr>
             <h4>Comments</h4>
            <ul class="media-list">

              {% for rs in comments %}
            
              <li class="media">
                <a class="pull-left" href="#">
				    	<img class="media-object" src="{% static 'assets/img/small-avatar.png' %}" alt="" />
					      </a>
                <div class="media-body">
                  <h5 class="media-heading"><a href="#">{{ rs.user.first_name }}</a></h5>
                  <span>{{ rs.create_at }}</span>
                  <p>
                    {{ rs.comment }}
                  </p>
                
                  <div class="clearfix">
                  </div>
                </div>
              </li>
              {% endfor %}

            </ul>
            <div class="comment-post">
              <h4>Leave a comment</h4>
              <form action="/product/addcomment/{{ product.id }}" method="post" class="comment-form" name="comment-form">
               {% csrf_token %}
                <div class="row">
                  <div class="span8">
                    <label>Name <span>*</span></label>
                    <input type="text" name="subject" class="input-block-level" placeholder="Subject" />
                  </div>
                
                  <div class="span8">
                    <label>Comment <span>*</span></label>
                    <textarea rows="9" name="comment" class="input-block-level" placeholder="Your comment"></textarea>
                     {% if user.id is not None %}
                    <button class="btn btn-theme" type="submit">Submit comment</button>
                     {% else %}
                     <h5> Yorum Eklemek Icin <a href="/login"> Login</a> Islemi yapiniz</h5>
                      {% endif %}
                  </div>
                </div>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}