{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}'/>
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">User Panel</li>
                </ul>
            </div>

        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span3">

                <aside>

                    <div class="billing-details">
                        <div class="section-title">


                        </div>

                        {% include "user_panel.html" %}

                    </div>

                </aside>
            </div>

            <div class="span9">

                <div class="widget">
                    <h3 class="rheading">
                        USER INFORMATION
                        <span></span></h3>

                    <table class="table">

                        <tr>
                            <th class="text-center">Profile</th>
                            <td class="thumb"><img src="{{ profile.image.url }}" alt="" style="width:100px;height:100px;"></td>

                        </tr>
                        <tr>
                            <th class="text-center">Name Surname</th>
                            <td class="text-center">{{ profile.user_name}}</td>

                        </tr>
                        <tr>
                            <th class="text-center">Email</th>
                            <td class="thumb">{{ profile.user.email }}</td>


                        </tr>
                        <tr>
                            <th class="text-center">Phone</th>
                            <td class="thumb">{{ profile.phone }}</td>


                        </tr>
                        <tr>
                            <th class="text-center">Adress</th>
                            <td class="thumb">{{ profile.address }}</td>


                        </tr>
                        <tr>

                            <th class="text-center">City</th>
                            <td class="thumb">{{ profile.city }}</td>

                        </tr>
                        <tr>
                            <th class="text-center">Country</th>
                            <td class="thumb">{{ profile.country }}</td>


                        </tr>

                        </tr>


                    </table>

                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}