{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}'/>
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">User Panel</li>
                </ul>
            </div>

        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span3">

                <aside>

                    <div class="billing-details">
                        <div class="section-title">


                        </div>

                        {% include "user_panel.html" %}

                    </div>

                </aside>
            </div>

            <div class="span9">

                <div class="widget">
                    <h3 class="rheading">

                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" roles="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <h4 class="title">User Hotel Comment</h4>
                    <hr>
                    <br>
                    <table class="table">
                        <tr>
                            <th class="text-left">Room</th>
                            <th class="text-left">Rate</th>
                            <th class="text-left">Subject</th>
                            <th class="text-left">Comment</th>
                            <th class="text-left">Status</th>
                            <th class="text-left">Date</th>
                            <th class="text-left">Delete</th>

                        </tr>
                        {% for rs in comments %}
                        <tr>
                            <td class="text-left">
                                <a href="/product/{{rs.product_id}}/{{ rs.product.slug }}">
                                    {{ rs.product.title }}
                                </a>
                            </td>
                            <td class="text-left">{{ rs.rate }}</td>
                            <td class="text-left">{{ rs.subject }}</td>
                            <td class="text-left">{{ rs.comment}}</td>
                            <td class="text-left">{{ rs.status }}</td>
                            <td class="text-left">{{ rs.create_at }}</td>
                            <td class="text-left"><a class="btn btn-danger" href="/user/deletecomment/{{rs.id}}"
                                                     onclick="return confirm('Delete ! Are you sure ?')">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}