{% extends "homebase.html" %}
{% load static %}
{% block title %} Hakkımızda-{{ setting.company }}{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}'/>
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">HAKKIMIZDA</li>
                </ul>
            </div>

        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="centered">
                    <p>

                        <div class="tab-content">
                            <div class="tab-pane active" id="one">
                    <p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Remove</th>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rs in reservationcart %}
                        <tr>
                            <th><a href="/reservation/deletefromcart/{{ rs.id }}"
                                   onclick="return confirm('Delete! Are you sure?')"><img
                                    src="{% static 'assets/img/delete.png' %}" style="width:30px;height:30px;"/></a>
                            </th>
                            <th><img src="{{ rs.room.image.url }}" style="width:450px;height:150px;" alt=""/></th>
                            <th>{{ rs.room.title }}</th>
                            <th>{{ rs.room.price }}$</th>
                            <th>{{ rs.quantity }}</th>
                            <th>{{ rs.amount }}</th>
                            <th>{{ rs.date_start }}</th>
                            <th>{{ rs.date_end }}</th>


                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </p>


                </div>


            </div>
            </p>

        </div>
    </div>
    </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-sm" style="display:inline;float:right;">
                <h3>{{total}}TL</h3>
            </div>

            <div class="col-sm" style="display:inline;float:right;margin:0px 50px;">
                <h3>Total =</h3>
            </div>

            <br>
            <br>
            <br>
            <div class="col-sm" style="float:right;">
                <a href="/reservation/reservationroom">
                    <button type="submit" class="btn btn-primary">Rezervasyon Yap</button>
                </a>
            </div>

        </div>
    </div>
    <br>
    <br>
</section>
{% endblock %}